doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
              //- link(rel='stylesheet', href='css/styles.css')
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        //- script(src="js/validations.js")
        title Registration form
          
    body 
    .row.justify-content-center
            div.col-md-6
                div.card-body
                    block content
    footer.row.justify-content-center
         div.col-md-6
            block footer







